<% if defined?(intent) == nil %>
	<% intent = "" %>
<% end %>
<%= form_for(@auth_user, as: @auth_user.class.name.underscore, url: send_sms_otp_url(@auth_user.class.name.underscore.downcase.pluralize,{:intent => intent}), :authenticity_token => true, method: "GET") do |f| %>
	
	<%= f.text_field(:additional_login_param) %>
	<%= f.label(:additional_login_param) %>


	<div style="text-align:center; padding-top:1.5rem; padding-bottom:1.5rem;" id="recaptcha_tags">
    	<% if Auth.configuration.recaptcha %>
			<%= recaptcha_tags %>
		<% end %>
  	</div>
	
	<%= f.submit "Submit" %>

<% end %>