<%= form_for(@auth_shopping_product, url: @auth_shopping_product.new_record? ? products_path : product_path(@auth_shopping_product), method: @auth_shopping_product.new_record? ? :post : :put) do |f| %>
  <% if @auth_shopping_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auth_shopping_product.errors.count, "error") %> prohibited this auth_shopping_product from being saved:</h2>

      <ul>
      <% @auth_shopping_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_fields">
    <% @auth_shopping_product.class.attribute_names.keep_if{|c| !@auth_shopping_product.field_names_to_skip_while_making_form.include? c.to_s}.each do |attr| %>
      <%=
          text_field :product,  attr.to_sym , :value => @auth_shopping_product.send("#{attr}")
      %>
      <%= 
          label  :product, attr.to_sym
      %>
     
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
