<h1>Listing Tests</h1>

<table class="bordered">
  <thead>
    <tr>
      <th>Price</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |test| %>
      <tr>
        <td>Rs.<%= test.price %></td>
        <td><%= test.name %></td>
        <td><%= test.description %></td>
        <td><%= link_to 'Show', shopping_cart_item_path({:id => test.id, :cart_item => {:public => true}}) %></td>
        <td><%= render :partial => "auth/shopping/cart_items/new.html.erb", locals: {cart_item: Auth.configuration.cart_item_class.constantize.new(test.attributes.except("_id")) } %></td>
        <td></td>
        <% if lookup_resource %>
        <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>