<%= form_for(@auth_shopping_cart_item, url: @auth_shopping_cart_item.new_record? ? cart_items_path : cart_item_path(@auth_shopping_cart_item), method: @auth_shopping_cart_item.new_record? ? :post : :put) do |f| %>
  <% if @auth_shopping_cart_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auth_shopping_cart_item.errors.count, "error") %> prohibited this auth_shopping_cart_item from being saved:</h2>

      <ul>
      <% @auth_shopping_cart_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_fields">
    <% @auth_shopping_cart_item.class.attribute_names.keep_if{|c| !@auth_shopping_cart_item.class::FIELD_NAMES_TO_SKIP_WHILE_MAKING_FORM.include? c.to_s}.each do |attr| %>
      <%=
          text_field :cart_item, attr.to_sym , :value => @auth_shopping_cart_item.send("#{attr}")
      %>
      <%= 
          label :cart_item, attr.to_sym
      %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

