<div class="col s12 m6 l6 m-40-top">
  <div class="card">
    <div class="card-content blue-grey-text text-darken-2">
      <span class="card-title">
        <span class="<%= product.badge_class %>" data-badge-caption="">
          <%= product.badge_text %>
        </span>
      <%= link_to product.name, product_path(product) %>
      </span>
      <br>
      <p><%= product.description %></p>
      <br>
      <%= render :partial => "auth/shopping/products/show/content.html.erb", locals: {product: product} %>
    </div>
    <div class="card-action">
      <%= render :partial => "auth/shopping/products/show/action_links.html.erb", locals: {product: product} %>
    </div>
  </div>
</div>
