<div class="row m-40-top">
  <div class="col s12 m12 l12">
    <div class="card ">
      	<div class="card-content blue-grey-text darken-2 p-0-bottom">
	        <span class="card-title black-text"><h5 class="m-0-top"><%= @auth_work_instruction.title %></h5></span>
	        <p><h6 class="m-0-top grey-text"><%= @auth_work_instruction.description %></h6></p>
	        <ul class="collection m-15-top" style="border:none;">
		        <% @auth_work_instruction.bullets.each do |bullet| %>
		        	<%= render :partial => "auth/work/bullets/show.html.erb", locals: {bullet: bullet, instruction: @auth_work_instruction, product: @auth_shopping_product} %>
		        <% end %>
	        </ul>
      	</div>
      	<div class="card-action">
      		<% @auth_work_instruction.links.each do |link| %>
      		<a href="<%= link.url %>"><%= link.url_text %></a>
      		<% end %>
      	  <%= link_to "Edit", edit_instruction_path(:product_id => @auth_shopping_product.id.to_s,:id => @auth_work_instruction.id.to_s) %>
          <%= link_to "Add Communication To This Instruction", new_communication_path(:communication => {:product_id => @auth_shopping_product.id.to_s,:instruction_id => @auth_work_instruction.id.to_s}) %>
        </div>
    </div>
  </div>
</div>
<% if current_signed_in_resource.is_admin? %>
    <!-- list the communications so that we can see them -->
    <ul class="collection">
      <li class="collection-header">
        Communications 
      </li>
      <% @auth_work_instruction.communications.each do |communication| %>
        Here is a communication
        <li class="collection-item"><%= link_to communication.name, communication_path({:communication => {:instruction_id => @auth_work_instruction.id.to_s, :product_id => @auth_shopping_product.id.to_s},:id => communication.id.to_s}) %></li>
      <% end %>
    </ul>
<% end %>