<p id="notice"><%= notice %></p>

<div class="fields">

	<% @auth_shopping_cart.attributes_to_show.each do |attr| %>

		
		<div><%= @auth_shopping_cart.send("#{attr}") %></div>

	<% end %>

	<h3>Items In Your Cart</h3>
	<%= puts "-------------------------------------------------" %>
	<%= puts "the cart items are: #{@auth_shopping_cart.cart_items.size.to_s}" %>
	<%= puts "-------------------------------------------------" %>
	<%= render :partial => "auth/shopping/cart_items/show_cart_items_collection", locals: {cart_items: @auth_shopping_cart.cart_items, cart: @auth_shopping_cart} %>
	
	<%= render :partial => "auth/shopping/carts/show_cart_balance_info", locals: {cart: @auth_shopping_cart} %>


	<h3>Payments & Refunds</h3>
	<table>
		<thead>
			<th>Payment Id</th>
			<th>Status</th>
			<th>Amount</th>
			<th>Payment Type</th>
		</thead>
		<tbody>
			<% @auth_shopping_cart.cart_payments.each_with_index {|cpayment,key| %>
				<tr>
					<td><%= link_to cpayment.id.to_s, payment_path(cpayment) %></td>
					<td><%= payment_status_to_string(cpayment)%></td>
					<td><%= cpayment.amount %></td>
					<td><%= cpayment.payment_type %></td>
				</tr>
			<% } %>
		</tbody>
	</table>


	


</div>


<%= link_to 'Edit', edit_cart_path(@auth_shopping_cart) %> |
<%= link_to 'Back', carts_path %>
