<!DOCTYPE html>
<html>
<head>
  <title><%= Auth.configuration.brand_name %></title>
  <!-- this uses the stylesheet and javascript files of the engine, as they are prefixed with auth, this automatically also includes the application.js and application.scss files of the current app. -->
  <%= stylesheet_link_tag    "auth/application", media: "all" %>
  <%= stylesheet_link_tag    "https://fonts.googleapis.com/icon?family=Material+Icons", media: "all" %>
  <%= javascript_include_tag "auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!-- now here calling content for will change the things that need to be changed -->
  <%= render :partial => "layouts/auth/navbar/navbar.html.erb" %>
  
  <div class="container">
    <%= yield %>
  </div>
  
  <%= render :partial => "layouts/auth/modals.html.erb" %>
</body>
</html>
