<!DOCTYPE html>
<html>
<head>
  <title><%= Auth.configuration.brand_name %></title>
  <!-- to include stylesheet and javascripts from the engine use auth/application -->
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "https://fonts.googleapis.com/icon?family=Material+Icons", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>
  
  <!-- now here calling content for will change the things that need to be changed -->
  <%= content_for(:personalization_nav_links) do %>
    <%= render :partial => "shopping/navigation_options.html.erb" %>
  <% end %>
   
  <%= render :partial => "layouts/auth/navbar/navbar.html.erb" %>
  
  <div class="container">
    <%= yield %>
  </div>
  
  <%= render :partial => "layouts/auth/modals.html.erb" %>
</body>
</html>
