<p id="notice"><%= notice %></p>

<% @auth_shopping_payment.attributes_to_show.each do |k,v| %>
<div>
<span><%= k.to_s + ":" %></span><span><%= @auth_shopping_payment.send("#{k}") %></span>
</div>
<% end %>

<!-- should show the cash change if and only if -->
<% if @auth_shopping_payment.is_cash? && current_signed_in_resource.is_admin? %>
	<span>Change To Give the Customer is: </span>
	<%= @auth_shopping_payment.cash_change %>	
<% end %>

<% if @auth_shopping_payment.is_gateway? %>
	<%= render :partial => "proceed_to_gateway_or_verify_payment.html.erb" %>
<% end %>




<% if current_signed_in_resource.is_admin? %>
	<!-- provide the option to approve the payment -->
	<%= render :partial => "approve_payment.html.erb" %>	
<% end %>


<%= render :partial => "show_payment_receipt.html.erb" %>

<%= render :partial => "create_discount_coupon.html.erb" %>




<%= link_to 'Edit', edit_payment_path(@auth_shopping_payment) %> |
<%= link_to 'Back', payments_path %>
