<% if @payment.payment_success %>
	<% @payment.attributes.each do |k,v| %>
	<div>
	<span><%= k.to_s + ":" %></span><span><%= v.to_s %></span>
	</div>
<% end %>
	<div>Payment success</div>
<% elsif @payment.payment_failed %>
	<% @payment.attributes.each do |k,v| %>
	<div>
	<span><%= k.to_s + ":" %></span><span><%= v.to_s %></span>
	</div>
<% end %>
	<div>Payment failed</div>
<% else %>
	<%= render :partial => "show_gateway.html.erb", locals: {payment: @payment} %>
<% end %>