<li class="collection-item search_result teal-text">
<%= link_to result.primary_link.html_safe do %>
	<h5 class="search_result_tags"><%= result.tags.join(" ") %></h5>
<% end %>
<h6 class="grey-text search_result_description"><%= result.autocomplete_description %></h6>
<% result.secondary_links.keys.each do |sl| %>
	<% if result.secondary_links[sl][:partial] %>
		<% locals = {} %>
		<% other_locals = result.secondary_links[sl] || {} %> 
		<% locals = locals.merge(other_locals) %>
		<% if result.secondary_links[sl][:instance_name_in_locals] %>
			<% locals = locals.merge(result.secondary_links[sl][:instance_name_in_locals].to_sym => result) %>
		<% end %>
		<%= render :partial => result.secondary_links[sl][:partial], locals: locals %>
	<% else %>
		<% if result.secondary_links[sl][:method] %>
			<%= link_to result.secondary_links[sl][:url].html_safe, :data => result.secondary_links[sl][:data] || {}, :method => result.secondary_links[sl][:method], :class => result.secondary_links[sl][:class] || {} do %>
				<span class="m-20-right"><%= sl %></span>
			<% end %>
		<% else %>
			<%= link_to result.secondary_links[sl][:url].html_safe, :data => result.secondary_links[sl][:data] || {}, :class => result.secondary_links[sl][:class] || {} do %>
				<span class="m-20-right"><%= sl %></span>
			<% end %>
		<% end %>
	<% end %>
<% end %>
</li>
