<p id="notice"><%= notice %></p>


<% @model.attributes.keys.each do |attribute| %>
	
	<%= attribute %> : <%= @model.send("#{attribute}") %>	

<% end %>
<br>
Signed Request:
<%= @model.signed_request %>
<% @model.signed_request.keys.each do |entity| %>
	<div id="<%= entity %>"><%= @model.signed_request[entity] %></div>
<% end %>

<div id="upload_widget_opener"></div>



<%= link_to 'Edit', edit_image_path(@model) %> |
<%= link_to 'Back', images_path %>
