<p id="notice"><%= notice %></p>


<% @model.attributes.keys.each do |attribute| %>
	
	<%= attribute %> : <%= @model.send("#{attribute}") %>	

<% end %>
<br>
Signed Request:
<%= @model.signed_request %>





<%= link_to 'Edit', edit_image_path(@model) %> |
<%= link_to 'Back', images_path %>
