<%= form_for(@auth_work_communication, as: "communication", url: @auth_work_communication.new_record? ? communications_path : communication_path(:id => @auth_work_communication.id.to_s), method: @auth_work_communication.new_record? ? :post : :put) do |f| %>
	<div class="form_fields">
		<div id="basic_options">
			
			<%= f.text_field :name %>
	      	<%= f.label :name %>

	      	<%= f.text_field :description %>
	      	<%= f.label :description %>			

		</div>
		<div id="email_options">
		  	<h5>E-Mail Options</h5>
		  	<label>
		        <input type="checkbox" id="communication_send_email" name="communication[send_email]"/>
		        <span>Send Email</span>
		    </label>
	      	

	      	<%= f.text_field :email_template_path %>
	      	<%= f.label :email_template_path %>
	    </div>
	    <!-- give the option to create the instruction -->
	    <div class="divider"> </div>

	    <div id="repeat_options">
	    	<h5>Repeat Options</h5>
	    	<%= f.select :repeat,@auth_work_communication.repeat_options,{include_blank: true} %>
	    	
	    	<%= f.number_field :repeat_times %>
	    	<%= f.label :repeat_times %>

	    	<%= f.text_field :method_to_determine_communication_timing %>
	    	<%= f.label :method_to_determine_communication_timing %>

	    </div>

	    <div class="divider"></div>

	    <div id="general_options">

	    	<%= f.text_field :method_to_determine_recipients %>
	    	<%= f.label :method_to_determine_recipients %>


		    <% if @auth_work_communication.cycle_id %>
		      	<%= 
		      		f.hidden_field :cycle_id, value: @auth_work_communication.cycle_id.to_s
		      	%>
		    <% end %>

	      	<% if @auth_work_communication.instruction_id %>
		    	<%=
		      		f.hidden_field :instruction_id, value: @auth_work_communication.instruction_id.to_s
		    	%>
	      	<% end %>

	      	<% if @auth_work_communication.product_id %>
	      		<%=
		      		f.hidden_field :product_id, value: @auth_work_communication.product_id.to_s 
		    	%>
	      	<% end %>

	      	<% if @auth_work_communication.cart_item_id %>
	      		<%=
		      		f.hidden_field :cart_item_id, value: @auth_work_communication.cart_item_id.to_s 
		    	%>
	      	<% end %>

	    </div>

    </div>
    <div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>

<!-- now in order to get this to render, first i need to fix instruction -->
<!-- then will create some product, and inside that have to give buttons to make instructions and also bullets -->
<!-- so let me first add , the add instruction to the product -->
<!-- also let me first do the image upload integration also -->
