<p id="notice"><%= notice %></p>

<h1>Listing Worms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worms.each do |worm| %>
      <tr>
        <td><%= link_to 'Show', worm %></td>
        <td><%= link_to 'Edit', edit_worm_path(worm) %></td>
        <td><%= link_to 'Destroy', worm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worm', new_worm_path %>
