<div class="row">
  <div class="navbar-fixed">
    <nav class="teal">
      <div class="nav-wrapper">
        <!-- should yield a nav-bar-left if it is there, otherwise take the below thing -->
        <% if content_for?(:navbar_left) %>
          <%= content_for(:navbar_left)  %>
        <% else %>
          <a href="/" class="brand-logo"><%= Auth.configuration.brand_name %></a>
          <%= render :partial => 'layouts/auth/navbar/progress_spinner.html.erb' %>
        <% end %>

        <!-- search bar -->
        
        <!-- end search bar -->

        <% if content_for?(:navbar_right) %>
          <%= content_for(:navbar_right)  %>
        <% else %>
          <ul class="right hide-on-med-and-down">
            <span id="personalization">
             <%= render :partial => "layouts/auth/navbar/personalization.html.erb" %>
            </span>
          </ul>
        <% end %>
      </div>
    </nav>
  </div>
  <% if content_for?(:proxy_user) %>

 <% else %>
  <div id="proxy_user"></div>
 <% end %>
</div>



<% if content_for?(:search_bar) %>
  
<% else %>  
  <%= render :partial => "auth/search/search_bar.html.erb" %>
<% end %>

<% if content_for?(:search_results) %>
  
<% else %>
  <%= render :partial => "auth/search/search_results.html.erb" %>
<% end %>

