<div class="row">
  <div class="navbar-fixed">
    <nav class="teal">
      <div class="nav-wrapper">
        <!-- should yield a nav-bar-left if it is there, otherwise take the below thing -->
        <% if content_for?(:navbar_left) %>
          <%= content_for(:navbar_left)  %>
        <% else %>
          <a href="/" class="brand-logo"><%= Auth.configuration.brand_name %></a>
          <%= render :partial => 'layouts/auth/navbar/progress_spinner.html.erb' %>
        <% end %>
        <% if content_for?(:navbar_right) %>
          <%= content_for(:navbar_right)  %>
        <% else %>
          <ul class="right hide-on-med-and-down">
            <span id="personalization">
             <%= render :partial => "layouts/auth/navbar/personalization.html.erb" %>
            </span>
          </ul>
        <% end %>
      </div>
    </nav>
  </div>
</div>