<%= form_for(@auth_user, url: @auth_user.new_record? ? admin_create_users_path : admin_create_user_path({:id => @auth_user.id.to_s}), method: @auth_user.new_record? ? :post : :put, namespace: @auth_user.id.to_s, as: :user) do |f| %>
  <%= render :partial => "auth/shared/object_errors.html.erb", locals: {active_model_object: @auth_user} %>
  <div id="form_fields">
    <h3>Create A New User</h3>
    <div class="divider"></div>
    <!-- so here we have to provide for the email, mobile number, and whether they want to resend_sms_otp, or confirmation_email, for these two it can be a checkbox. -->
    <%= f.text_field :email %>
    <%= f.label :email %>
      
    <%= f.text_field :additional_login_param %>
    <%= f.label :additional_login_param %>

    <%= f.select("title", [["Mr","Mrs"],["Mrs","Mrs"],["Mast","Mast"],["Miss","Miss"],["Dr","Dr"]] , { include_blank: true }) %>

    <%= f.text_field :first_name %>
    <%= f.label :first_name %>

    <%= f.text_field :last_name %>
    <%= f.label :last_name %>

    <%= f.select("sex", [["Male","Male"],["Female","Female"],["Other","Other"]] , { include_blank: true }) %>

    <%= f.text_field :address %>
    <%= f.label :address %>  

    <%= f.text_field :date_of_birth, :class => "datepicker date_of_birth" %>
    <%= f.label :date_of_birth %>

    <!-- test if user can be created with these fields -->
    <!-- in the registrations controller -->
    <!-- also in the update controller -->
    <!-- also add them in the admin_create_user controller -->
    <!-- history will be a seperate thing -->
    <!-- there have to override for history points -->

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
