<%= form_for(@client, as: :client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Redirect Urls</h4>
  <% @client.redirect_urls.each do |i| %>
      <%= i %>
  <% end %>


  <h5>Add Another Redirect Url</h5>
  <!-- give option for one more redirect url to be added -->
  <div class="field">
    <%= f.text_field :add_redirect_url %>
    <%= f.label :add_redirect_url %>
  </div>

  <h4>App Ids</h4>
  <% @client.app_ids.each do |i| %>
      <%= i %>
  <% end %>  

  <h5>Add Another App Id</h5>
  <div class="field">
    <%= f.text_field :add_app_id %>
    <%= f.label :add_app_id %>
  </div>  
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
