<p id="notice"><%= notice %></p>

<p>
  <strong>Api key:</strong>
  <%= @client.api_key %>
</p>

<p>
  <strong>Path:</strong>
  <%= @client.path %>
</p>

<p>
  <strong>Redirect urls:</strong>
  <%= @client.redirect_urls %>
</p>

<p>
  <strong>App Ids</strong>
  <%= @client.app_ids %>
</p>


<%= link_to 'Edit', edit_auth_client_path(@client.id) %> |
<%= link_to 'Back', auth_clients_path %>
