<% if !resource.nil? %>
	<%= form_for(resource, as: resource.class.name.underscore, url: registration_path(resource.class.name.underscore), remote: true, :authenticity_token => true, data: {type: "script"}, html: {id: "login_form"}) do |f| %>
		<div class="row" id="login_inputs">
		  <div class="col l8 m10 s10 offset-l2 offset-m1 offset-s1">
		      <div class="input-field">
	            <input <%= 
	            	 if resource.has_oauth_identity?
	            	 	"disabled"
	            	 end
	             %> id="<%= resource.class.name.downcase %>_email" type="email" name="<%= resource.class.name.downcase %>[email]" class="virgin" autofocus="false" value="<%= 
	             	
	             		resource.email
	             	
	              %>"></input>
	            <label for="<%= resource.class.name.downcase %>_email" autofocus="false">"E-mail"</label>
	            <!-- if there is an unconfirmed email, then show it here with a link to resend confirmation email to it -->
	            <% if !resource.unconfirmed_email.nil? %>
	            	<%= content_tag(:span,"Your email") %>
	            	<%= content_tag(:span,resource.unconfirmed_email,:id => "#{resource.class.name.downcase}_unconfirmed_email", :data => {:unconfirmed_email => resource.unconfirmed_email}) %>
	            	<%= content_tag(:span," is pending confirmation") %>
	            	<%= content_tag(:div,"Resend Confirmation Email", :class => "resend_confirmation_email") %>
	            <% end %>
	          </div>
	          <% if !resource.has_oauth_identity? %>
		          <div class="input-field m-50-top">
		            <input id="<%= resource.class.name.downcase %>_password" type="password" name="<%= resource.class.name.downcase %>[password]" class="virgin"></input>
		            <label for="<%= resource.class.name.downcase %>_password">New Password</label>
		          </div>

		          <div class="input-field m-50-top">
		            <input id="<%= resource.class.name.downcase %>_password_confirmation" type="password" name="<%= resource.class.name.downcase %>[password_confirmation]"  class="virgin">
		            </input>
		            <label for="<%= resource.class.name.downcase %>_password_confirmation">Confirm New Password</label>
		          </div>
		          <!--- -->
		           
		          <% if !Auth.configuration.auth_resources[resource.class.to_s.singularize.capitalize][:additional_login_param_name].nil? %>
				    <div class="input-field m-50-top">
			            <input id="<%= resource.class.name.downcase %>_additional_login_param" type="text" name="<%= resource.class.name.downcase %>[additional_login_param]"  class="virgin" value="<%= 
			            if !resource.additional_login_param.nil?
			            	resource.additional_login_param
			            end
			             %>">
			            </input>
			            <label for="<%= resource.class.name.downcase %>_additional_login_param"><%= Auth.configuration.auth_resources[resource.class.name.singularize.capitalize][:additional_login_param_name] %></label>
			            <% if resource.additional_login_param_status == 1 %>
			            	<%= content_tag :div,nil,:id => "additional_login_param_resend_block", :data => {:additional_login_param => resource.additional_login_param} do %>
				            	<%= content_tag(:div,"Your #{Auth.configuration.auth_resources[resource.class.name.singularize.capitalize][:additional_login_param_name]} needs to be verified.") %>
				            	<%= content_tag(:div,"#{Auth.configuration.auth_resources[resource.class.name.singularize.capitalize][:additional_login_param_resend_confirmation_message]}",:class => "additional_login_param_resend_confirmation_message", :data => {:additional_login_param => resource.additional_login_param}) %>
			            	<% end %>
			            <% end %>
			         </div>
				  <% end %>
		          <!--- -->
		          <div class="input-field m-50-top">
		            <input id="<%= resource.class.name.downcase %>_current_password" type="password" name="<%= resource.class.name.downcase %>[current_password]"  class="virgin">
		            </input>
		            <label for="<%= resource.class.name.downcase %>_current_password">Your Current Password</label>
		          </div>
	          <% end %>
	          <!-- add the field for the additional_login_param -->
	          <!-- passed in skip_oauth_options so that it doesn't show the oauth icons here -->
	          <%= render :partial => 'auth/modals/oauth_and_submit.html.erb', locals: {skip_oauth_options: true} %>
		  </div>
		</div>
		<%= f.submit "Update",  id: "login_submit", style: "display:none;" %>
	<% end %>
<% end %>