<% if !resource.nil? %>
	<%= form_for(resource, as: resource.class.name.underscore, url: registration_path(resource.class.name.underscore), remote: true, :authenticity_token => true, data: {type: "script"}, html: {id: "login_form"}) do |f| %>
		<div class="row" id="login_inputs">
		  <div class="col l8 m10 s10 offset-l2 offset-m1 offset-s1">
		      <div class="input-field">
	            <input <%= 
	            	 if resource.has_oauth_identity?
	            	 	"disabled"
	            	 end
	             %> id="<%= resource.class.name.downcase %>_email" type="email" name="<%= resource.class.name.downcase %>[email]" class="virgin" autofocus="false" value="<%= 
	             	
	             		resource.email
	             	
	              %>"></input>
	            <label for="<%= resource.class.name.downcase %>_email" autofocus="false">"E-mail"</label>
	          </div>
	          <% if !resource.has_oauth_identity? %>
		          <div class="input-field m-50-top">
		            <input id="<%= resource.class.name.downcase %>_password" type="password" name="<%= resource.class.name.downcase %>[password]" class="virgin"></input>
		            <label for="<%= resource.class.name.downcase %>_password">New Password</label>
		          </div>

		          <div class="input-field m-50-top">
		            <input id="<%= resource.class.name.downcase %>_password_confirmation" type="password" name="<%= resource.class.name.downcase %>[password_confirmation]"  class="virgin">
		            </input>
		            <label for="<%= resource.class.name.downcase %>_password_confirmation">Confirm New Password</label>
		          </div>

		          <div class="input-field m-50-top">
		            <input id="<%= resource.class.name.downcase %>_current_password" type="password" name="<%= resource.class.name.downcase %>[current_password]"  class="virgin">
		            </input>
		            <label for="<%= resource.class.name.downcase %>_current_password">Your Current Password</label>
		          </div>
	          <% end %>
	          <%= render 'auth/modals/oauth_and_submit.html.erb' %>

		  </div>
		</div>
		<%= f.submit "Update",  id: "login_submit", style: "display:none;" %>
	<% end %>
<% end %>