<% if !resource.nil? %>
	<%= form_for(resource, as: resource.class.name.underscore, url: registration_path(resource.class.name.underscore), remote: true, :authenticity_token => true, data: {type: "script"}, html: {id: "login_form"}) do |f| %>
		<div class="row" id="login_inputs">
		  <div class="col l8 m10 s10 offset-l2 offset-m1 offset-s1">
		      <div class="input-field">
	            <input <%= 
	            	 if resource.identities.size > 0
	            	 	"disabled"
	            	 end
	             %> id="user_email" type="email" name="user[email]" class="virgin" autofocus="false" value="<%= 
	             	
	             		resource.email
	             	
	              %>"></input>
	            <label for="user_email" autofocus="false"><%=
	            if resource.identities.size == 0
	             "E-mail" 
	            end
	             %></label>
	          </div>
	          <% if resource.identities.size == 0 %>
		          <div class="input-field m-50-top">
		            <input id="user_password" type="password" name="user[password]" class="virgin"></input>
		            <label for="user_password">New Password</label>
		          </div>

		          <div class="input-field m-50-top">
		            <input id="user_password_confirmation" type="password" name="user[password_confirmation]"  class="virgin">
		            </input>
		            <label for="user_password_confirmation">Confirm New Password</label>
		          </div>

		          <div class="input-field m-50-top">
		            <input id="user_current_password" type="password" name="user[current_password]"  class="virgin">
		            </input>
		            <label for="user_current_password">Your Current PassWord</label>
		          </div>
	          <% end %>
	          <%= puts resource.identities.size %>
	          <%= render '/modals/oauth_and_submit.html.erb' %>

		  </div>
		</div>
		<%= f.submit "Update",  id: "login_submit", style: "display:none;" %>
	<% end %>
<% end %>