<div id="sign_in_inputs">
  <div class="input-field">
    <label for="<%= resource.class.name.downcase %>_login"><%= login_label_text(resource) %></label>
    <input autofocus="autofocus" type="text" name="<%= resource.class.name.downcase %>[login]" id="<%= resource.class.name.downcase %>_login">
    <span class="helper-text" data-error=""></span>
  </div>
  <div class="input-field m-50-top">
    <input autocomplete="off" type="password" name="<%= resource.class.name.downcase %>[password]" id="<%= resource.class.name.downcase %>_password" class="validate">
    <label for="<%= resource.class.name.downcase %>_password">Password</label>
    <span class="helper-text" data-error=""></span>
  </div>
</div>