<div id="sign_in_inputs">
  <div class="input-field">
    <input autofocus="autofocus" type="email" value="" name="<%= resource.class.name.dowcase %>[email]" id="<%= resource.class.name.dowcase %>_email">
    <label for="<%= resource.class.name.dowcase %>_email" class="">Email</label>
  </div>
  <div class="input-field m-50-top">
    <input autocomplete="off" type="password" name="<%= resource.class.name.dowcase %>[password]" id="<%= resource.class.name.dowcase %>_password">
    <label for="<%= resource.class.name.dowcase %>_password" class="">Password</label>
  </div>
</div>