<div id="sign_in_inputs">
  <div class="input-field">
    <input autofocus="autofocus" type="text" value="" name="<%= resource.class.name.downcase %>[login]" id="<%= resource.class.name.downcase %>_login">
    <label for="<%= resource.class.name.downcase %>_login" class=""><%= login_label_text(resource) %></label>
  </div>
  <div class="input-field m-50-top">
    <input autocomplete="off" type="password" name="<%= resource.class.name.downcase %>[password]" id="<%= resource.class.name.downcase %>_password">
    <label for="<%= resource.class.name.downcase %>_password" class="">Password</label>
  </div>
</div>