<% if current_res && resource_in_navbar?(current_res)%>
	<li data-resource="<%= Auth.configuration.mount_path[1..-1] + "/" +current_res.class.name.downcase.pluralize %>"><%= link_to "Account Settings", edit_user_registration_path,:remote => true,data: {type: "script"},:class => "profile_nav_option" %></li>
	<li data-resource="<%= Auth.configuration.mount_path[1..-1] + "/" +current_res.class.name.downcase.pluralize %>"><%= link_to "Profile", profile_path(current_res.id),{:class => "profile_nav_option"} %></li>
	<li><%= link_to('Sign Out', destroy_res_session_path, :method => :delete, id: "sign_out") %></li>
<% else %>
	<% if Auth.configuration.enable_sign_in_modals %>
		<% Auth.configuration.auth_resources.keys.each do |res| %>
			<% if Auth.configuration.auth_resources[res][:nav_bar] %>
				<li class="sign_in_nav_option" data-resource="<%= Auth.configuration.mount_path[1..-1] + "/" + res.downcase.pluralize %>"><a href="#">Sign In</a></li>
			<% end %>
		<% end %>
	<% end %>
<% end %>
