<!DOCTYPE html>
<html>
<head>
  <title>Hi Bitch</title>
  <%= stylesheet_link_tag    "auth/application", media: "all" %>
  <%= javascript_include_tag "auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "layouts/auth/navbar/navbar.html.erb" %>
<div class="container">
<%= yield %>
</div>
<%= render :partial => "layouts/auth/modals.html.erb" %>
</body>
</html>
